/* Applies changes to everything */
* {
    padding: 0;
    margin: 0;
    font-family: monospace, sans-serif
}

body {
    background-color: lightgoldenrodyellow;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.858);
}

header h1 {
    font-size: 48px;
    padding: 0px 60px;
    color: lightgoldenrodyellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid;
}

header ul {
    padding: 0px 40px;
    display: flex;
}

header li {
    font-size: 20px;
    padding: 20px 10px;
    display: flex;
    margin: 0 10px 0 10px;
}

header a {
    color: lightgoldenrodyellow;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 100px 0 100px;
}

footer h2 {
    font-size: 40px;
    justify-content: center;
    align-content: center;
}

footer ul {
    padding: 0px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer li {
    padding: 20px 10px;
    display: flex;
    margin: 0 10px 0 10px;
}

.hero {
    height: 500px;
    width: 100%;
    background-image: url(./steampunk-city-airplane.JPG);
    background-size: cover;
    background-position: center;
    display: flex;
    border-bottom: solid;
}

#gears {
    height: 200px;
    width: 100%;
    background-image: url(./steampunk-gears.JPG);
    background-size: cover;
    background-position: center;
    border-top: solid;
    border-bottom: solid;
    display: flex;
}

@media screen and (max-width: 768px;) {

}