/* Applies changes to everything */
* {
    padding: 0;
    margin: 0;
    font-family: monospace, sans-serif
}

body {
    background-color: lightgoldenrodyellow;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.858);
}

header h1 {
    font-size: 48px;
    padding: 0px 60px;
    color: lightgoldenrodyellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid;
}

header ul {
    display: flex;
    padding: 0px 60px;
}

header li {
    font-size: 20px;
    display: flex;
    padding: 20px 10px;
}

header a {
    color: lightgoldenrodyellow;
}

h2 {
    font-size: 48px;
    width: 185px;
}

h3 {
    font-size: 24px;
}

p {
    line-height: 1.25em;
    letter-spacing: 1px;
}

img {
    border: solid 5px;
    width: 435px;
    height: 200px;
    margin: 10px;
}

footer {display: flex;}

footer h2 {
    font-size: 48px;
    color: black;
}

footer ul {
    font-size: 20px;
    display: flex;
    margin-left: 100px;
}

footer li {
    font-size: 20px;
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}

footer div {
    display: flex;
}

footer a {
    color: black;
    display: flex;
    align-items: center;
}

.hero {
    height: 500px;
    width: 100%;
    background-image: url(./steampunk-city-airplane.JPG);
    background-size: cover;
    background-position: center;
    display: flex;
    border-bottom: solid;
}

.about-me {
    display: flex;
    margin-right: 100px;
    margin-left: 300px;
    margin-top: 50px;
}

.about-me p {
    margin-left: 50px;
}

.work {
    display: flex;
    margin-right: 100px;
    margin-left: 326px;
    margin-top: 50px;
}

.work div {
    margin-left: 50px;
}

#project-one {
    width: 910px;
    height: 400px;
}

#contact-me {
    display: flex;
    flex-wrap: wrap;
    margin-right: 100px;
    margin-left: 246px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#gears {
    height: 200px;
    width: 100%;
    background-image: url(./steampunk-gears.JPG);
    background-size: cover;
    background-position: center;
    border-top: solid;
    border-bottom: solid;
    display: flex;
}

@media screen and (max-width: 768px;) {
    
}