/* Applies changes to everything */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: monospace, sans-serif
}

body {
    background-color: lightgoldenrodyellow;
}

header {
    
}


header h1 {
    font-size: 48px;
}

header nav {
    
}

header nav ul {

}

header nav li {
    font-size: 20px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 24px;
}

img {
    border: solid 5px;
    height: 300px;
}

footer {
    background-color: lightgoldenrodyellow;
}

footer ul {
    font-size: 20px;
}

footer li {
    
}

.hero {
    height: 500px;
    width: 100%;
    background-image: url(./steampunk-city-airplane.JPG);
    background-size: cover;
    background-position: center;
    border-top: solid 5px;
    border-bottom: solid 5px;
    display: flex;
    flex-wrap: wrap;
}

.about-me {
    
}

.work {

}

#gears {
    height: 200px;
    width: 100%;
    background-image: url(./steampunk-gears.JPG);
    background-size: cover;
    background-position: center;
    border-top: solid 5px;
    border-bottom: solid 5px;
    display: flex;
    flex-wrap: wrap;
}

#contact-me {
    font-size: 48px;
}

#linked-in {
    font-size: 40px
}

#project-one img {
    
}
